In [32]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

plt.rcParams['font.family'] = 'D2coding'
plt.rcParams['font.size'] = 9
plt.rcParams['axes.unicode_minus'] = False

In [33]:
class MovieDataLoader:
	def __init__(self):
		pass
	
	def load(self, path):
		if path[-3:] == 'csv':
			return pd.read_csv(path)
		
		return pd.read_csv(path, sep='\t')

In [34]:
class RandomRecommender:
	def __init__(self):
		self.movie_data = MovieDataLoader().load('../../../kmrd-small/movies.txt')
		self.rate_data = MovieDataLoader().load('../../../kmrd-small/rates.csv')
  
		tmp = self.rate_data.groupby('movie')['rate'].mean().reset_index()
		tmp = pd.merge(self.movie_data, tmp, on='movie')
		print(tmp)

	def run(self):
		pass

In [35]:
RandomRecommender().run()

     movie                 title                                    title_eng  \
0    10001                시네마 천국                       Cinema Paradiso , 1988
1    10002              빽 투 더 퓨쳐                    Back To The Future , 1985
2    10003            빽 투 더 퓨쳐 2             Back To The Future Part 2 , 1989
3    10004            빽 투 더 퓨쳐 3           Back To The Future Part III , 1990
4    10005  스타워즈 에피소드 4 - 새로운 희망                             Star Wars , 1977
..     ...                   ...                                          ...
595  10983            사랑이 머무는 곳에                           Ice Castles , 1978
596  10985             할리와 말보로 맨  Harley Davidson And The Marlboro Man , 1991
597  10988                파리의 여인                      A Woman Of Paris , 1923
598  10994               19번째 남자                           Bull Durham , 1988
599  10998                폭주 기관차                         Runaway Train , 1985

       year     grade      rate
0    2013.0    전체 관람가  9.294360
1    2015.0   12세 관람가  9.416778
2    2015.0   12세 관람가  9.270981
3    1990.0    전체 관람가  9.120000
4    1997.0        PG  9.048619
..      ...       ...       ...
595  1979.0        PG  9.178571
596  1991.0  청소년 관람불가  4.571429
597  2015.0        NR  9.076923
598  1990.0  청소년 관람불가  7.684211
599  1989.0   15세 관람가  8.882759

[600 rows x 6 columns]